p {
    font-size: 1.1rem;
    background: #2B2E54;
    color: white;
    margin-bottom: 0.7rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    border-radius: 16px 16px 16px 16px;
    width: 80%;
    height:auto;
    font-family: "Noto Sans Mono", monospace;
    padding: 20px;
    line-height: 1.6;
}
