<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Blog Tech de Vic</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/navbar.css' | url }}">
    {% if css %}
    <link rel="stylesheet" href="{{ '/css/' | append: css | url }}">
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
{% include "navbar.njk" %}
    <main>
        <div class="container">
            {% for post in collections.posts %}
            <div class="card">
                <img src="{{ post.data.image | url }}" alt="{{ post.data.alt }}">
                <h2>
                    <a href="{{ post.url | url }}">
                        {{ post.data.title }}
                    </a>
                </h2>
                <p class="date">{{ post.data.date | frenchDate }}</p>
                <p>{{ post.data.description }}</p>
            </div>
            {% else %}
            <p>Pas de posts</p>
            {% endfor %}

        </div>
    </main>
    {% include "footer.njk" %}
</body>
</html>