<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Blog Tech de Vic</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&family=Questrial&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <header> 
        <h1>{{title | default: "Blog Tech de Vic"}} </h1>
    </header>
    <main>
        <div class="container">
            {% for post in collections.posts %}
            <link rel="stylesheet" href="/css/{{ page.data.css }}">
            <div class="card">
                <img src="{{post.data.image}}" alt="{{post.data.alt}}">
                <h2><a href = "{{post.url}}">{{post.data.title}}</a></h2>
                <p>{{post.data.description}}</p>
            </div>
            {% else %}
                <p>Pas de posts</p>
            {% endfor %}
        </div>
    </main>
</body>
</html>