<header class="navbar">
    <a class="logo" href="{{ '/' | url }}">
        Blog Tech de Vic
    </a>
    <nav>
        <ul class="nav-links">
            <li>
                <a href="{{ '/' | url }}">Accueil</a>
            </li>
            <li>
                <a href="{{ '/posts/' | url }}">Posts</a>
            </li>
            <li>
                <a href="{{ '/about/' | url }}">About me</a>
            </li>
        </ul>
    </nav>
</header>